
BuddyGoals/BuddyGoals.xcodeproj/project.xcworkspace/xcuserdata/terrencepramono.xcuserdatad/UserInterfaceState.xcuserstate
BuddyGoals/BuddyGoals.xcodeproj/project.xcworkspace/xcuserdata/terrencepramono.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
